# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/using-atom-basic-customization#customizing-key-bindings
# * https://atom.io/docs/latest/behind-atom-keymaps-in-depth
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson

'atom-text-editor':
  'ctrl-esc': 'autocomplete-plus:activate'

'atom-text-editor.autocomplete-active':
  'escape': 'autocomplete-plus:cancel'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'shift-H': 'vim-mode-plus:move-to-first-character-of-line'
  'shift-L': 'vim-mode-plus:move-to-last-character-of-line'

# "atom-text-editor[data-grammar='source elm']":
'atom-workspace':
  'cmd-shift-I': 'elm-jutsu:add-import'


'atom-workspace atom-text-editor:not([mini])':
  'cmd-shift-L': 'unset!'

'atom-text-editor:not([mini])[data-grammar^="source elm"]':
  'shift-f6': 'linter-elm-make:quick-fix-all'

  # Add this to use the default UI:
  'f6': 'linter-elm-make:quick-fix'

  # Add this instead if you want to use the Intentions UI:
  # 'f6': 'intentions:show'

  # Add this instead if you want to use `atom-ide-ui`:
  # 'f6': 'diagnostics:show-actions-at-position'

  # elmjutsu magic
  'f12': 'elmjutsu:go-to-definition'
  'shift-f12': 'elmjutsu:find-usages'
  'ctrl-f12': 'elmjutsu:go-back'
  'ctrl-r': 'elmjutsu:go-to-symbol'
  'f7': 'elmjutsu:go-to-next-usage'
  'shift-f7': 'elmjutsu:go-to-previous-usage'
  'f2': 'elmjutsu:add-import'
  'ctrl-f2': 'elmjutsu:rename-symbol'
  'alt-l': 'elmjutsu:lift-to-let'
  'alt-shift-l': 'elmjutsu:surround-with-let'
  'alt-t': 'elmjutsu:lift-to-top-level'
  'alt-i': 'elmjutsu:infer-type'


'.linter-elm-make atom-text-editor[mini]':
    'f6': 'core:confirm'

'.platform-darwin':
  'cmd-|': 'elm-navigator:toggle'
