packages: [
  "aligner"
  "aligner-javascript"
  "aligner-ruby"
  "aligner-scss"
  "an-old-hope-syntax"
  "atom-beautify"
  "atom-ctags"
  "atom-elixir"
  "atom-elixir-formatter"
  "atom-sort-sass"
  "Atom-Syntax-highlighting-for-Sass"
  "busy-signal"
  "chester-atom-syntax"
  "color-picker"
  "dash"
  "dash-syntax"
  "dash-ui"
  "elm-format"
  "elm-lens"
  "elm-navigator"
  "elm-test-runner"
  "elmjutsu"
  "file-icons"
  "goto"
  "goto-last-edit"
  "hasklig"
  "html-to-elm"
  "html2slim"
  "hyperclick"
  "intentions"
  "intentions-colorpicker"
  "jackhammer-syntax"
  "language-docker"
  "language-elixir"
  "language-elm"
  "language-haml"
  "language-slim"
  "linter"
  "linter-elm-make"
  "linter-haml"
  "linter-json-lint"
  "linter-sass-lint"
  "linter-tidy"
  "linter-ui-default"
  "package-sync"
  "pigments"
  "platformio-ide-terminal"
  "prettier-atom"
  "pretty-json"
  "project-manager"
  "pure-syntax"
  "ruby-test"
  "script"
  "single-click-open"
  "styri-syntax"
  "symbols-tree-view"
  "todo-show"
  "vim-mode-plus"
]
