packages: [
  "aligner"
  "aligner-javascript"
  "aligner-ruby"
  "aligner-scss"
  "an-old-hope-syntax"
  "atom-sort-sass"
  "Atom-Syntax-highlighting-for-Sass"
  "busy-signal"
  "chester-atom-syntax"
  "color-picker"
  "dash"
  "dash-syntax"
  "dash-ui"
  "elm-format"
  "elm-navigator"
  "elmjutsu"
  "file-icons"
  "hasklig"
  "html-to-elm"
  "intentions"
  "intentions-colorpicker"
  "language-docker"
  "language-elm"
  "linter"
  "linter-elm-make"
  "linter-ui-default"
  "package-sync"
  "pigments"
  "pure-syntax"
  "single-click-open"
  "vim-mode-plus"
]
